<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--属性，下面的配置可以引用这里的属性-->
    <properties resource="config.properties">
        <!--默认不开启-->
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/>
        <!--默认就是:-->
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator" value="#|#"/>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <!--数据库里下划线自动匹配成Java中驼峰命名的属性-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
        <!--可以单独指定别名-->
        <typeAlias type="cn.dubby.mybatis.configuration.entity.Blog" alias="Blog"/>
        <!--也可以直接指定包下所有类的别名，此时还可以使用@Alias("blog")来修改他的别名-->
        <package name="cn.dubby.mybatis.configuration.entity"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="cn.dubby.mybatis.configuration.enums.CategoryEnum"/>

        <!--可以单独指定别名-->
        <typeHandler handler="cn.dubby.mybatis.configuration.handler.MobilePhoneHandler"/>
        <!--也可以直接指定包下所有类的别名-->
        <package name="cn.dubby.mybatis.configuration.handler"/>
    </typeHandlers>

    <objectFactory type="cn.dubby.mybatis.configuration.object.factory.ExampleObjectFactory">
        <property name="someProperty" value="100"/>
    </objectFactory>

    <plugins>
        <plugin interceptor="cn.dubby.mybatis.configuration.plugin.ExamplePlugin">
            <property name="someProperty" value="100"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--POOLED-->
            <!--<dataSource type="POOLED">-->
                <!--&lt;!&ndash;since MyBatis 3.4.2 如果driver没有找到，会使用冒号后的值作为默认值。此功能默认不开启，开启需指定org.apache.ibatis.parsing.PropertyParser.enable-default-value&ndash;&gt;-->
                <!--<property name="driver" value="${driver#|#com.mysql.cj.jdbc.Driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->

            <!--HikariCP-->
            <dataSource type="cn.dubby.mybatis.configuration.datasource.HikariCPDataSourceFactory">
                <!--since MyBatis 3.4.2 如果driver没有找到，会使用冒号后的值作为默认值。此功能默认不开启，开启需指定org.apache.ibatis.parsing.PropertyParser.enable-default-value-->
                <property name="driverClassName" value="${driver#|#com.mysql.cj.jdbc.Driver}"/>
                <property name="jdbcUrl" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="cn/dubby/mybatis/configuration/mapper/BlogMapper.xml"/>
        <mapper resource="cn/dubby/mybatis/configuration/mapper/UserMapper.xml"/>
        <mapper resource="cn/dubby/mybatis/configuration/mapper/CategoryMapper.xml"/>
    </mappers>
</configuration>